{% extends 'base.html.twig' %}

{% block body %}

<h1 class="page-header">Dashboard</h1>

<h2 class="sub-header">Questionnaire overview</h2>
  <a class="btn btn-info" href="{{ path('questionnaire_post_new')}}">New Questionnaire</a>

{% if questionnaires is not empty %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ 'label.questionnaire'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>SprintRound</td>
        <td colspan="5">Statements</td>

        <td>ExtraRound</td>
        <td>Projects</td>
        <td>Actions</td>
      </tr>
      {% for questionnaire in questionnaires %}
      <tr>
        <td>{{ questionnaire.id }}</td>
        <td>{{ questionnaire.sprintRound }}</td>
        {% for statement in questionnaire.statements %}
          <td>{{ statement.statement }}</td>
        {% endfor %}
        <td>{{ questionnaire.extraRound }}</td>
        {% for project in questionnaire.projects %}
          <td>{{ project.project }}</td>
        {% endfor %}

        <td>
          <div class="item-actions">
            <a href="{{ path('questionnaire_post_show', { id: questionnaire.getId }) }}" class="btn btn-sm btn-default">
              {{ 'action.show'|trans }}
            </a>
            <a href="{{ path('questionnaire_post_edit', { id: questionnaire.getId }) }}" class="btn btn-sm btn-primary">
              <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p> No questionnaires yet.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="section actions">
  <a href="{{ path('questionnaire_post_new') }}" class="btn btn-lg btn-block btn-success">
    <i class="fa fa-plus"></i> {{ 'action.create_questionnaire'|trans }}
  </a>
</div>

{{ parent() }}


{% endblock %}
