{% extends 'base.html.twig' %}

{% block body %}

<h1 class="page-header">Questionnaire overview</h1>

  <a class="btn btn-info" href="{{ path('questionnaire_post_new')}}">New Questionnaire</a>

{% if questionnaires is not empty %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SprintRound</th>
        <th colspan="5">Statements</th>
        <th>ExtraRound</th>
        <th>Projects</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for questionnaire in questionnaires %}
      <tr>
        <td>{{ questionnaire.sprintRound }}</td>
        {% for statement in questionnaire.statements %}
          <td>{{ statement.statement }}</td>
        {% endfor %}
        <td>{{ questionnaire.extraRound }}</td>
        <td>{% for project in questionnaire.projects %}{{ project.project }} {% endfor %}</td>

        <td>
            <a href="{{ path('questionnaire_post_show', { id: questionnaire.getId }) }}">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
          </td>
          <td>
            <a href="{{ path('questionnaire_post_edit', { id: questionnaire.getId }) }}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p> No Questionnaires yet.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="section actions">
  <a href="{{ path('questionnaire_post_new') }}" class="btn btn-lg btn-block btn-info">
    {{ 'Create Questionnaire'|trans }}
  </a>
</div>

{{ parent() }}


{% endblock %}
