{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-header">Team Administration</h1>
  <a class="btn btn-info" href="{{ path("team_new") }}">New Team</a>
{% if teams is not empty %}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Country</th>
          <th>Project</th>
          <th>Users</th>
          <th colspan="2"><th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>{{ team.teamName }}</td>
          <td>{{ team.country }}</td>
          <td>
           {% for project in team.projects if team.projects %}
            {{project.project}},
            {% endfor %}
            {% if team.projects is empty %}
            n-a
            {% endif %}
       </td>
       <td>
            {% for member in team.members if team.members is not empty %}
            {{member.user.username}},
            {% endfor %}
            {% if team.members is empty %}
            N/A
            {% endif %}

       </td>
       <td><a href="{{ path('team_edit', { id: team.getId }) }}" >
              <span class="glyphicon glyphicon-pencil"></span>
            </a></td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
 </div>
 {% else %}
     <p>No teams created yet.</p>
 {% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
