{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-header">Dashboard</h1>
<div class="row">
  <a class="btn btn-info" href="{{ path("team_new") }}">New Team</a>
  <div class="col-xs-6 col-sm-3">
    
    <div>
      {% block fos_user_content %}
      {% endblock fos_user_content %}
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Country</th>
          <th>Project</th>
          <th>Users</th>
          <th colspan="2"><th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
          <td>{{ team.teamName }}</td>
          <td>{{ team.country }}</td>
          <td>
           {#  {% for project in team.projects if team.projects is not empty %}
            {{project.projectName}}, 
            {% endfor %}
            {% if team.projects is empty %}
            n-a
            {% endif %}
       #}
       </td>
       <td>
            {% for member in team.members if team.members is not empty %}
            {{member.user.username}}, 
            {% endfor %}
            {% if team.members is empty %}
            n-a
            {% endif %}
       
       </td>
       <td><a href="{{ path('team_edit', { id: team.getId }) }}" >
              <span class="glyphicon glyphicon-pencil"></span>
            </a></td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
 </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}


