{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header">Dashboard</h1>
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | 
                <ul>
                {% for role in app.user.roles %}
                    <li>{{ role }}</li>
                {% endfor %}

                </ul>
                

                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
      </div>
    </div>
    <h2 class="sub-header">Performance data - Select view</h2>
    <ul class="nav nav-pills">
     <li role="presentation" class="active"><a href="#">Answers to Questionnaires</a></li>
     <li role="presentation"><a href="#">Profile</a></li>
     <li role="presentation"><a href="#">Messages</a></li>
   </ul>
   <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Project</th>
          <th>Team</th>
          <th>Roles</th>
          <th>Last Login</th>

        </tr>
      </thead>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>{%for role in user.roles%}{{role}}, {% endfor %}
          <td>{{ user.lastLogin|date('d-M-y H:i:s') }}</td>
          <td><a href="{{ path('removeuser', { id: user.id }) }}"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}


