{% extends 'base.html.twig' %}

{% block body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ flashMessage }}
    </div>
{% endfor %}
<h1 class="page-header">My questionnaires</h1>
{% if questionnaires is not empty %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sprint Number</th>
      </tr>
    </thead>
    <tbody>
      {% for questionnaire in questionnaires %}
      <tr>
        <td>{{ questionnaire.id }}</td>
        <td>{{ questionnaire.sprintRound }}</td>
          {# {% if answer in aswer %}
          <td><a href="{{ path('answer_post_edit', { id: questionnaire.id }) }}" class="btn btn-success">Fill questionnaire</a></td>
          {% else %}#}
          <td><a href="{{ path('answer_post_new', { id: questionnaire.id }) }}" class="btn btn-success">Fill questionnaire</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  <a href="{{path('showanswers')}}" class="btn btn-success">Show answers</a>
  {% else %}
  <p>No questionnaires assigned for you</p>
  {% endif %}
  <a class="btn btn-info" data-toggle="modal" data-target='#modal-id'>Join team</a>
  <div class="modal fade" id="modal-id">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Join new team</h4>
        </div>
        <div class="modal-body">
          {{ form_start(inviteForm) }}
          {{ form_widget(inviteForm) }}
          {{ form_end(inviteForm) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/ie10-viewport-bug-workaround.js"></script>
  {% endblock %}
