{% extends 'base.html.twig' %}

{% block body %}

{% block main %}
    <h1>{{ statement.statement }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.statement'|trans }}</th>
                <td>{{ statement.statement }}</td>
            </tr>
            <tr>
                <th>{{ 'label.category'|trans }}</th>
                <td>{{ statement.category }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('statement_post_edit', { id: statement.getId }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('Questionnaire/Statement/_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_statement'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            include_back_to_home_link: false
        }, with_context = false) }}
    </div>

{% endblock %}
{% endblock %}
