{% extends 'base.html.twig' %}

{% block body %}

{% block main %}
    <h1>{{ statement.statement }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Statement</th>
                <td>{{ statement.statement }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ statement.category }}</td>
            </tr>
            <tr>
                <th>Questionnaires</th>
                <td>{% for questionnaire in statement.questionnaire %}
                    {{ questionnaire.id }},
                    {% endfor %}
                </td>

            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('statement_post_edit', { id: statement.getId }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> Edit Statement
        </a>
    </div>

    <div class="section">
        {{ include('Questionnaire/Statement/_form.html.twig', {
            form: delete_form,
            button_label: "Delete Statement",
            button_css: 'btn btn-lg btn-block btn-danger',
            include_back_to_home_link: false
        }, with_context = true) }}
    </div>

{% endblock %}
{% endblock %}
