{% extends 'base.html.twig' %}

{% block body %}

<h1 class="page-header">Dashboard</h1>

<h2 class="sub-header">Statement overview</h2>
  <a class="btn btn-info" href="{{ path('statement_post_new')}}">New Statement</a>
{% if statements is not empty %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ 'label.statement'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>Statement</td>
        <td>Category</td>
        <td>Actions</td>
      </tr>
      {% for statement in statements %}
      <tr>
        <td>{{ statement.id }}</td>
        <td>{{ statement.statement }}</td>
        <td>{{ statement.category }}</td>

        <td>
          <div class="item-actions">
            <a href="{{ path('statement_post_show', { id: statement.getId }) }}" class="btn btn-sm btn-default">
              {{ 'action.show'|trans }}
            </a>
            <a href="{{ path('statement_post_edit', { id: statement.getId }) }}" class="btn btn-sm btn-primary">
              <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No statements defined yet.</p>
{% endif %}
{% if is_granted("ROLE_ADMIN") and statements|length != 0 %}
<a data-toggle="modal" data-target="#deleteCheckModal" class="btn btn-danger" />Delete All Statements</a>

        <div class="modal fade" id="deleteCheckModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deleting all statements.</h4>
              </div>
              <div class="modal-body">
                <p>You're about to delete all statements. Are you sure?</p>
              </div>
              <div class="modal-footer">
              <a class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#deleteAllModal">Remove all Statements.</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Take Me Out of here!</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="deleteAllModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deleting all statements.</h4>
              </div>
              <div class="modal-body">
                <p>Oh wow, you almost removed all of the statements. This cannot be undone. Are you sure about that?</p>
              </div>
              <div class="modal-footer">
              <a class="btn btn-danger" href="{{ path('statement_deleteall') }}">I'm determined. Remove all Statements.</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Take Me Out of here!</button>
              </div>
            </div>
          </div>
        </div>

{% endif %}
{% endblock %}

{% block sidebar %}
<div class="section actions">
  <a href="{{ path('statement_post_new') }}" class="btn btn-lg btn-block btn-success">
    <i class="fa fa-plus"></i> {{ 'action.create_statement'|trans }}
  </a>
</div>


{% endblock %}
