{% extends 'base.html.twig' %}

{% block body %}

<h1 class="page-header">Statement overview</h1>

  <a class="btn btn-info" href="{{ path('statement_post_new')}}">New Statement</a>
{% if statements is not empty %}
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Statement</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for statement in statements %}
      <tr>
        <td>{{ statement.statement }}</td>
        <td>{{ statement.category }}</td>

        <td>
          <div class="item-actions">
            <a href="{{ path('statement_post_show', { id: statement.getId }) }}" class="btn btn-sm btn-default">
              {{ 'Show statement details'|trans }}
            </a>
            <a href="{{ path('statement_post_edit', { id: statement.getId }) }}" class="btn btn-sm btn-primary">
              <i class="fa fa-edit"></i> {{ 'Edit statement'|trans }}
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No statements defined yet.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="section actions">
  <a href="{{ path('statement_post_new') }}" class="btn btn-lg btn-block btn-success">
    <i class="fa fa-plus"></i> {{ 'action.create_statement'|trans }}
  </a>
</div>

{{ parent() }}


{% endblock %}
