{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-header">Project Administration</h1>

  <a class="btn btn-info" href="{{ path("project_new") }}">New Project</a>
  {% if projects is not empty %}
  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Teams</th>
          <th colspan="2">Actions<th> 

        </tr>
      </thead>
      <tbody>


          {% for project in projects %}
             <tr> <td>{{ project.project }}</td>
             <td>

             {% for team in project.teams %}
                  {{team.teamName}}{% if not loop.last %}, {% endif %}
              {% endfor %}
              </td>
<td><a href="{{ path('project_edit', { id: project.getId }) }}" >
              <span class="glyphicon glyphicon-pencil"></span>
            </a></td>
            <td><a data-toggle="modal" data-target="#{{ project.id }}"><span class="glyphicon glyphicon-remove-circle"></span></button></td>
       </tr>
       <div class="modal fade" id="{{ project.id }}" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deleting project {{ project.project }}</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure?</p>
              </div>
              <div class="modal-footer">
              <a class="btn btn-danger" href="{{ path('project_delete', { id: project.id }) }}">Remove {{ project.project }}</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
            </div>

          </div>
        </div>
</tr>
          {% endfor %}



     </tbody>
   </table>
 </div>
 {% else %}
     <p>No projects created yet.</p>
 {% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
